In [1]:
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [3]:
import sys
print(sys.version)

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [5]:
from datetime import datetime
print(datetime.now())

2019-11-03 20:44:19.869271

In [7]:
a = float(input("Enter the radius of Circle"))
print(2*3.14*a)

Enter the radius of Circle2.18
13.690400000000002

n1 =input("Enter the first name")
n2 = input("Enter the last name")
for s in &n1
    count+=1
for s in &n2
    count2 +=1
for s in &n1
    s1 =n1[count] + " "
    count -=1
print(s1)

In [8]:
n1 =input("Enter the first name")
n2 = input("Enter the last name")
for s in &n1
    count+=1
for s in &n2
    count2 +=1
for s in &n1
    s1 =n1[count] + " "
    count -=1
print(s1)

SyntaxError: invalid syntax (<ipython-input-8-0e0b8f12ea74>, line 3)

In [18]:
n1 =input("Enter the first name")
n2 = input("Enter the last name")
count=0
count2=0
for s in n1:
    count+=1
for s in n2:
    count2 +=1
for s in n1:
    if s == n1[0]:
        s1 =n1[count-1] + " "
    else:
        s1 =  s1 + n1[count-1] + " "
    count -=1
print(s1) 
for s in n2:
    if s == n2[0]:
        s2 =n2[count2-1] + " "
    else:
        s2 =  s2 + n2[count2-1] + " "
    count2 -=1
print(s1) 
print(s2)

Enter the first nameSalim
Enter the last nameAli Khan
m i l a S
m i l a S
n a h K   i l A

In [22]:
num1 = float(input("Enter First Number"))
num2 = float(input("Enter Second number"))
print(num1 + num2)

Enter First Number23
Enter Second number45
0.5111111111111111